compile.bat
*.user
*.userprefs
*.suo
*.cache
*.pfx
[Oo]bj/
[Bb]in/
packages/
.idea/
.vs/
/Programs/examples/TestClient/Properties/launchSettings.json
.appveyor.yml
LICENSE.txt
mapgen.bat
PrimMesher/
Programs/
libremetaverse-core/.gitignore
BetterSecondbot/Dockerfile
BetterSecondbot/wiki/
BetterSecondbot/debug.json
BetterSecondbot/settings.env
SecondBotEvents/defaultBot/
SecondBotEvents/settings.env
